body{
    font-family: 'Patrick Hand SC', Helvetica;
    
}


.navegacao{background-color: #69A5DB;
}

.coluna{
    width: 100px;
    height: 40px;
    align-content: center; 
 
    background-color:  white;
    border-radius: 7%;
    font-weight: bold;   
}




.final {
    background-color: #69A5DB;
    width: 100%;
    height: 30%;
    margin-top: 2%;
    padding: 0.01%;

    
}
.fixed-bottom{background-color: #69A5DB;}
