*{
    margin: 0%;
    padding: 0%;
    
    }
    
    
    .navegacao{background-color: #69A5DB;
    }
    
    .coluna{
        width: 100px;
        height: 40px;
        align-content: center; 
        background-color:  white;
        border-radius: 7%;
        font-weight: bold;   
    }
    
    .imagem_nav{
    padding: 25px;
    
    }
    
    #fundo{
        margin-top:2%;
        background-color: #69A5DB;
    }
    
    #seta{
        margin: 30%;
    
    }
    
    #config{
        margin-right: 4%;
        background-color: #ffffff;
    
    }
    
    #fim{
        background-color: #69A5DB;
    }
    
    .form-switch{
        width: 500px;
    }
    
    .fixarRodape {
        height: 10%;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center
       
    }
    
    
    